<footer>
    <div class="f-info bg-body-tertiary">
        <div class="div-box">
            <ul>
                <b>Online Shopping</b>
                <li>Men</li>
                <li>Women</li>
                <li>Kids</li>
            </ul>
            <ul>
                <b>Customer Policies</b>
                <li>Contact Us</li>
                <li>FAQ</li>
                <li>T&C</li>
                <li>Terms of Use</li>
                <li>Returns</li>
            </ul>
            <div class="f-info-social">
                <b>EXPERIENCE MYNTRA APP ON MOBILE</b>
                <div class="f-info-social-btn mt-3 mb-3">
                    <button type="button" class="btn btn-dark">Get it on<br><b>Google Play</b></button>
                    <button type="button" class="btn btn-dark">Download on the<br><b>App Store</b></button>
                </div>
                <b>Keep in Touch</b>
                <div class="icons">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="cont">
                <p><b>100% ORIGINAL</b> guarantee for all<br> products at myntra.com</p>
                <p><b>Return within 14days</b><br> of receiving your order</p>
            </div>
        </div>
        <div class="f-info-bottom">
            <p>In case of any concern, <a href="/"><b>Contact Us</b></a></p>
            <p>&copy;2024 www.myntra.com. All rights reserved.</p>
            <p>A Flipkart company</p>
        </div>
    </div>
</footer>