<nav class="navbar navbar-expand border-bottom border-tertiary pe-3 p-3">
  <div class="container-fluid">
    <a href="/carts"><i class="fa-solid fa-m ms-3" style="color:orangered; font-weight: bold;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse box" id="navbarSupportedContent" >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active men" aria-current="page" href="/carts/men"> Men</a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link women" href="/carts/women">Women</a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link kid" id="" href="/carts/kids">Kids</a>
        </li>
      </ul>
      <div class="nav-right ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control" type="search" placeholder="Search for products,brands and more" aria-label="Search" style="width: 350px;">
        </form>
        
        <a class="icon-text profile "><i class="fa-regular fa-user"></i>Profile</a>
        <a class="icon-text"><i class="fa-regular fa-heart"></i>Wishlist</a>
        <a class="icon-text"><i class="fa-solid fa-bag-shopping"></i>Bag</a>
      </div>
    </div>
  </div>
</nav>

<div class="logsig">
  <p><b>Welcome</b></p>
  <p>To access account and manage orders</p>
  <% if(!currUser) { %>
    <button class="btn btn-outline-light">
      <span style="color:rgb(238, 112, 133);">
        <a href="/signup" class="btn-text"><b>SignUp</b></a></span></button>
    <button class="btn btn-outline-light ms-3">
        <span style="color:rgb(238, 112, 133);">
          <a href="/login" class="btn-text"><b>Login</b></a></span></button>
  <% } %>
  <% if(currUser) { %>
    <button class="btn btn-outline-light ms-3">
        <span style="color:rgb(238, 112, 133);">
          <a href="/logout" class="btn-text"><b>Logout</b></a></span></button>
  <%} %>
</div>


<script src="js/script.js"></script>
