<% layout("/layouts/boilerplate") %>  

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>

<div class="bg-body-tertiary">
    <div class="top-cont mt-3" style="height: auto;">
        <div class="swiper mySwiper" >
            <div class="swiper-wrapper" style="height: 520px;">
                <div class="swiper-slide">
                   <img src="images/bgecom.png"/>
                    <div class="top1">
                        <h1>WESTERN WEAR</h1>
                        <hr>
                        <h5>Min 30% Off</h5>
                    </div>
                </div>
                <div class="swiper-slide" style="filter: brightness(1) contrast(1.1);">
                    <img src="https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGVjb21tZXJjZSUyMHNob3BwaW5nJTIwc2FsZXN8ZW58MHx8MHx8fDA%3D"/>
                </div>
                <div class="swiper-slide" >
                    <!-- <img src="https://media.istockphoto.com/id/516820576/photo/woman-on-a-shopping-spree.webp?b=1&s=612x612&w=0&k=20&c=ZacYdI6L_Lxqem7M7pjg0hQuLoFlQB4EciEzMRTdKOo=0"/> -->
                    <img src="https://images.unsplash.com/photo-1648544365094-3e3e35108a68?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c2hvcHBpbmclMjBiYWdzfGVufDB8fDB8fHww"/>
                </div>
                <div class="swiper-slide" style="filter: brightness(1) contrast(1.1);">
                    <img src="https://images.unsplash.com/photo-1483985988355-763728e1935b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNob3BwaW5nfGVufDB8fDB8fHww"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="shop">
        <h1>CRA<span style="color: red; font-size: 5.5vw;">Z</span>Y DEALS</h1>
        <h4 class="mb-2">Soak In The Savings</h4>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let cart of carts) { %>
            <a href="/carts/<%= cart._id %>" class="listing-link">
            <div class="card col listing-card mb-2">
                <img src="<%= cart.image %>" class="card-img-top" 
                alt="cart-image" style="height: 20rem">
    
                <div class="card-img-overlay"></div>
    
                <div class="card-body">
                    <p class="card-text">
                        <b><%=cart.title%></b> <br />
                        <b>&#8377;<%= cart.price.toLocaleString("en-IN") %></b>
                    <i class="taxes" style="color: red;">&nbsp &nbsp (18% OFF)</i>
                    <i class="fa-regular fa-heart float-end"></i>
                </p>
            </div>
        </div>
    </a>
    <% } %>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <form method="GET" action="/carts/new">
            <button class="btn btn-secondary mb-3 mt-3 me-auto" >CREATE NEW CART</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    });
</script>
 